<main>
    <!-- about-me -->
    <section class="about-me-section">
        <h1 class="detail" data-aos="fade-right" data-aos-duration="1000" data-aos-offset="5" data-aos-delay="50">Hi, I
            am <br><span class="about-name">Wasim Afreeth Z</span></h1>
        <div class="about-me-rightside" data-aos="fade-left" data-aos-duration="1000" data-aos-offset="5"
            data-aos-delay="50">
            <p class="about-para">To leverage my skills in front-end and back-end development, gained through my Full
                Stack Developer internship, to contribute to innovative projects. Seeking to apply my technical
                expertise and passion for coding in a dynamic environment where I can grow professionally and add value
                to the team.</p>
            <div class="about-social-media-box">
                <a href="https://www.linkedin.com/in/wasim-afreeth-z-347528268/"
                    class="about-social-media about-linkedin"><i class="fa-brands fa-linkedin-in"></i></a>
                <a href="https://github.com/Wasim-Afreeth-Z" class="about-social-media about-github"><i
                        class="fa-brands fa-github"></i></a>
                <!-- <a href="#" class="about-social-media about-instragram"><i class="fa-brands fa-instagram"></i></a> -->
            </div>
        </div>
    </section>

    <!-- project-count -->
    <div class="count">
        <div class="sub-count">
            <div class="count-box ">
                <p class="about-count" data-aos="zoom-in" data-aos-delay="300" data-aos-duration="1000"
                    data-aos-offset="5">4+</p>
                <p class="about-topic">Successfully Projects <br> Completed</p>
            </div>
            <div class="line"></div>
            <div class="count-box">
                <p class="about-count" data-aos="zoom-in" data-aos-delay="300" data-aos-duration="1000"
                    data-aos-offset="5">80%</p>
                <p class="about-topic">UG Degree</p>
            </div>
            <div class="line"></div>
            <div class="count-box">
                <p class="about-count" data-aos="zoom-in" data-aos-delay="300" data-aos-duration="1000"
                    data-aos-offset="5">76%</p>
                <p class="about-topic">PG Degree</p>
            </div>
        </div>
    </div>

    <!-- marquee -->
    <div class="marquee-bg">
        <marquee>
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png"> Discover
            <img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png"> Discover
            <img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png"> Discover
            <img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png"> Discover
            <img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
        </marquee>
    </div>

    <!-- Education & Experience -->
    <section class="edu-exp-section">
        <!-- Education -->
        <div class="edu-exp-box" data-aos="fade-down" data-aos-delay="300" data-aos-duration="1000" data-aos-offset="5">
            <h1 class="edu-topic">Education</h1>
            <div class="edu-box">
                <h3>PONDICHERRY UNIVERSITY</h3>
                <div class="education">
                    <div>
                        <p class="edu">MSc Computer Science (PG)</p>
                        <p class="year">2021-2023</p>
                    </div>
                    <p>CGPA - 7.65</p>
                </div>
            </div>
            <div class="edu-box">
                <h3>BHARATHIDASAN UNIVERSITY</h3>
                <div class="education">
                    <div>
                        <p class="edu">BSc Computer Science (UG)</p>
                        <p class="year">2018-2021</p>
                    </div>
                    <p>CGPA - 8.03</p>
                </div>
            </div>
            <div class="edu-box">
                <h3>GRADE 12 (State Board)</h3>
                <div class="education">
                    <div>
                        <p class="edu">Computer Science</p>
                        <p class="year">2017-2018</p>
                    </div>
                    <p>Percentage - 60.5%</p>
                </div>
                <p></p>
            </div>
            <div class="edu-box">
                <h3>GRADE 10 (CBSE)</h3>
                <div class="education">
                    <div>
                        <!-- <p class="edu">Computer Science</p> -->
                        <p class="year">2015-2016</p>
                    </div>
                    <p>CGPA - 6.8</p>
                </div>
                <p></p>
            </div>
        </div>
        <!-- Work Experience -->
        <!-- <div class="edu-exp-box">
            <h1 class="edu-topic">Work Experience</h1>
            <div class="edu-box">
                <h3>Twitter.Inc</h3>
                <div class="education">
                    <p class="edu">Product Manager</p>
                    <p>2022</p>
                </div>
            </div>
            <div class="edu-box">
                <h3>Tesla</h3>
                <div class="education">
                    <p class="edu">Designer</p>
                    <p>2018</p>
                </div>
            </div>
            <div class="edu-box">
                <h3>Apple</h3>
                <div class="education">
                    <p class="edu">Deveoper</p>
                    <p>2016</p>
                </div>
            </div>
        </div> -->
    </section>

    <!-- follow-me -->
    <section class="follow-me-section">
        <img class="follow-me-img" data-aos="fade-right" data-aos-delay="300" data-aos-duration="1000"
            data-aos-offset="5" src="../../assets/images/about profile.jpg" alt="">
        <div class="follow-me-box" data-aos="fade-left" data-aos-delay="300" data-aos-duration="1000"
            data-aos-offset="5">
            <h2>Follow me</h2>
            <p>I'm Wasim Afreeth, a Web Developer who works with startups to build brands.</p>
            <div class="follow-me-line"></div>
            <div class="follow-me-icon-box">
                <a href="#" class="follow-me follow-facebook"><i class="fa-brands fa-facebook"></i></a>
                <a href="https://www.linkedin.com/in/wasim-afreeth-z-347528268/" class="follow-me follow-linkedin"><i
                        class="fa-brands fa-linkedin-in"></i></a>
                <a href="#" class="follow-me follow-twitter"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" class="follow-me follow-instragram"><i class="fa-brands fa-instagram"></i></a>
                <a href="https://github.com/Wasim-Afreeth-Z" class="follow-me follow-github"><i
                        class="fa-brands fa-github"></i></a>
                <a href="#" class="follow-me follow-telegram"><i class="fa-brands fa-telegram"></i></a>
            </div>
        </div>
    </section>
</main>