.contact-section {
    padding-inline: 120px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
}

.contact-section-1 {
    flex-basis: 35%;
}

.contact-topic {
    font-size: 62px;
    background: var(--gradient-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.contact-para {
    margin-bottom: 40px;
    color: var(--black-color);
}

.email-icon-box,
.phone-icon-box {
    font-weight: 700;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    color: var(--black-color);
}

.email-icon,
.phone-icon {
    display: block;
    font-size: 30px;
    margin-right: 10px;
    background: var(--gradient-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.phone-link,
.email-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--black-color);
}

/* form */
form {
    flex-basis: 50%;
}

.form-name,
.form-email,
.form-subject,
.form-message {
    display: block;
    color: var(--black-color);
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 15px;
}

.name-box,
.email-box,
.subject-box {
    width: 100%;
    padding-block: 12px;
    padding-left: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--skill-contact-box);
    color: var(--black-color);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.name,
.email,
.subject {
    margin-bottom: 20px;
}

.message {
    margin-bottom: 25px;
}

.message-box {
    width: 100%;
    padding-inline: 15px;
    height: 150px;
    border: none;
    border-radius: 5px;
    background-color: var(--skill-contact-box);
    color: var(--black-color);
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 500;
    padding: 10px;
}

.email-icon-box:hover,
.phone-icon-box:hover {
    text-decoration: underline;
}

.name-box:hover,
.email-box:hover,
.subject-box:hover,
.message-box:hover,
.email-icon-box:hover,
.phone-icon-box:hover {
    cursor: pointer;
    animation: shake 0.5s 0.8;
}

.error {
    // text-red-600 mt-2 pl-2
    color: red;
    margin-top: 5px;
    padding-left: 5px;
    font-size: 12px;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.form-submit {
    padding-block: 15px;
    padding-inline: 25px;
    background: var(--gradient-color);
    color: var(--black-color);
    border-radius: 50px;
    border: none;
    font-weight: 700;
    text-decoration: none;
}

.form-submit:hover {
    background: var(--white-color);
    border: 1px solid var(--black-color);
}

input,
textarea {
    outline-color: rgb(255, 136, 0);
}

input:focus::-webkit-input-placeholder {
    color: rgb(255, 136, 0);
}

input::placeholder {
    font-family: "Inter", sans-serif;
}


@media (min-width: 1450px) {
    main {
        width: 1700px;
        margin-inline: auto ;
    }
}

@media (max-width: 1290px) {
    .contact-topic {
        font-size: 52px;
    }
}

@media (max-width: 1150px) {

    .contact-section {
        padding-inline: 60px;
    }
}

@media (max-width: 1000px) {

    .contact-section {
        display: flex;
        flex-direction: column;
    }

    .contact-section-1 {
        max-width: 390px;
        margin-bottom: 35px;
    }

}

@media (max-width: 600px) {
    .contact-section {
        margin-top: 70px;
    }
}


@media (max-width: 524px) {

    .contact-section {
        padding-inline: 20px;
    }
}

@media (max-width: 380px) {
    .contact-topic {
        font-size: 42px;
    }

    .contact-section {
        margin-top: 50px;
    }
}