<main>
    <!-- contact -->
    <section class="contact-section">
        <div class="contact-section-1" data-aos="fade-right" data-aos-duration="1000" data-aos-offset="5"
            data-aos-delay="50">
            <h1 class="contact-topic">Get in touch</h1>
            <p class="contact-para">Have a project in mind? Looking to partner or work together? Reach out through
                the form and I'll get back to you in the next 48 hours.</p>
            <div class="email-icon-box">
                <a class="email-link" href="mailto:wasimafreeth36@gmail.com"><span class="email-icon"><i
                            class="fa-solid fa-envelope"></i></span>wasimafreeth36&#64;gmail.com</a>
            </div>
            <div class="phone-icon-box">
                <a class="phone-link" href="https://wa.me/919940943266"><span class="phone-icon"><i
                            class="fa-solid fa-phone"></i></span>+91-9940943266</a>
            </div>
        </div>

        <form data-aos="fade-left" data-aos-duration="1000" data-aos-offset="5" data-aos-delay="50"
            action="https://formsubmit.co/wasimafreeth36@gmail.com" method="POST">
            <label class="form-name">Your Name</label>
            <input class="name-box" type="text" name="name" placeholder="Enter your name" required>

            <label class="form-email">Your E-mail</label>
            <input class="email-box" type="email" name="email" placeholder="Enter your e-mail" required>

            <label class="form-subject">Subject</label>
            <input class="subject-box" type="text" name="subject" required>

            <label class="form-message">Message</label>
            <textarea class="message-box" name="message" required></textarea>

            <input type="hidden" name="_captcha" value="false">
            <input type="hidden" name="_template" value="table">

            <button class="form-submit">SUBMIT NOW</button>

        </form>
    </section>

    <!-- FAQ -->
    <!-- <section class="faq-section">
        <div class="faq-left">
            <h1 class="faq-topic">Frequently Asked <span class="faq-topic-2">Questions</span></h1>
            <p class="faq-para">Answers to the burning questions in your mind.</p>
            <a class="contact-button" href="">CONTACT ME</a>
        </div>

        <div class="faq-right"> -->

    <!-- FAQ-1 -->
    <!--  <div class="faq-box">
                <div class="faq-question-box">
                    <p class=" faq-question">How long does a website take to build?</p>
                    <p (click)="paraShow()" class="max"><i class={{arrowIcon}}></i></p>
                    <!--! <p class="min"><i class="arrow up"></i></p> 
                </div>
                <p [ngStyle]="{'display':paraValue?'none':'block'}" class="answer faq-answer">Unless you are a
                    full-stack web developer, you may need to hire
                    professionals to create different aspects of the website. It can take you between eight to 21
                    days to build a single-page website from scratch: Planning and requirements gathering (one-three
                    days) Design and prototyping (two-seven days)</p>
            </div>
            <hr style="height: 1px;background-color: rgba(128, 128, 128, 0.411);border: transparent;">

            <!-- FAQ-2 
            <div class="faq-box">
                <div class="faq-question-box">
                    <p class=" faq-question">How much does a website cost?</p>
                    <p class="max"><i class="arrow down"></i></p>
                    <p class="min"><i class="arrow up"></i></p>
                </div>
                <p class="answer faq-answer">On average, a basic website in India can cost anywhere from ₹2,999 to
                    ₹50,000 or more, depending on the factors mentioned above. However, you must be careful while
                    selecting a website development company only on the basis of cost</p>
            </div>
            <hr style="height: 1px;background-color: rgba(128, 128, 128, 0.411);border: transparent;">

            <!-- FAQ-3 
            <div class="faq-box">
                <div class="faq-question-box">
                    <p class=" faq-question">I don’t have a design, can you build it for me?</p>
                    <p class="max"><i class="arrow down"></i></p>
                    <p class="min"><i class="arrow up"></i></p>
                </div>
                <p class="answer faq-answer">Today, you can design, build, and launch complex websites in just a few
                    hours using Webflow. Knowing a few key concepts, and being able to know the difference between
                    good and bad design will give you the confidence and skills to craft your first website</p>
            </div>
            <hr style="height: 1px;background-color: rgba(128, 128, 128, 0.411);border: transparent;">

            <!-- FAQ-4 
            <div class="faq-box">
                <div class="faq-question-box">
                    <p class=" faq-question">Do you provide seo as well?</p>
                    <p class="max"><i class="arrow down"></i></p>
                    <p class="min"><i class="arrow up"></i></p>
                </div>
                <p class="answer faq-answer">While there are complex SEO tactics at your disposal, there are many
                    ways to optimize your site today for free (or almost free) and improve your SEO. Here, we will
                    walk you through different strategies you can accomplish in the three main divisions of SEO:
                    on-site, off-site, and technical</p>
            </div>
            <hr style="height: 1px;background-color: rgba(128, 128, 128, 0.411);border: transparent;">

            <!-- FAQ-5 
            <div class="faq-box">
                <div class="faq-question-box">
                    <p class=" faq-question">Will my website load quickly?</p>
                    <p class="max"><i class="arrow down"></i></p>
                    <p class="min"><i class="arrow up"></i></p>
                </div>
                <p class="answer faq-answer">Use effective third-party services for important website functions.
                    Hosting: Even the best-designed website will load slowly if its origin server responds slowly to
                    requests. Website owners should choose a server with an average response time of under 200 ms,
                    and with a good record for reliability.</p>
            </div>
            <hr style="height: 1px;background-color: rgba(128, 128, 128, 0.411);border: transparent;">

        </div>
    </section>-->
</main>