.container {
    padding-inline: 120px;
}

.projects-section-1 {
    margin-top: 130px;
    margin-bottom: 40px;
}

.projects-section-2 {
    margin-top: 40px;
    margin-bottom: 80px;
}

.projects-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.projects-topic {
    font-size: 32px;
    color: var(--black-color);
}

.span-topic {
    background: var(--gradient-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.span-topic-2 {
    margin-left: 10px;
    font-size: 22px;
}

.projects-topic-2 {
    font-size: 62px;
    color: var(--black-color);
}

.projects-right {
    display: flex;
    column-gap: 70px;
}

.detail-topic {
    font-size: 12px;
    background: var(--gradient-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.detail-data,
.detail-data-2 {
    font-size: 22px;
    font-weight: 700;
    color: var(--black-color);
}

.project-img {
    max-width: 100%;
}

.about-project {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.about-left {
    max-width: 33%;
}

.about-topic {
    font-size: 24px;
    background: var(--gradient-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 8px;
}

.about-para-1 {
    color: var(--black-color);
    font-size: 30px;
    font-weight: 700;
}

.about-right {
    max-width: 50%;
}

.about-para-2 {
    color: var(--black-color);
    font-size: 18px;
    margin-bottom: 15px;
}

.about-para-3 {
    color: var(--black-color);
    font-size: 18px;
}

.project-link {
    display: inline-block;
    overflow: hidden;
    background: var(--gradient-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    border-bottom: 1px solid var(--black-color);
}

.project-link:hover {
    transform: scale(1.1);
    transform-origin: top;
}

.github-link {
    color: var(--black-color);
    margin-top: 5px;
}

.website-link {
    color: var(--black-color);
    margin-top: 5px;
    margin-bottom: 8px;
}

.website-details {
    color: var(--black-color);
}


.user {
    font-weight: 700;
}

/* more cool project */
.more-project-section {
    margin-bottom: 80px;
}

.more-topic {
    font-size: 52px;
    color: var(--black-color);
    margin-bottom: 40px;
}

.more-topic-2 {
    background: var(--gradient-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.more-project-box {
    display: flex;
    column-gap: 25px;
}

.more-project-left {
    position: relative;
    overflow: hidden;
}

.more-project-right {
    position: relative;
    overflow: hidden;
}

.more-hover {
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    transform: translateY(200%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: all 0.6s;
    background: var(--gradient-color);
    padding-block: 7px;
    padding-inline: 10px;
}

.more-img {
    max-width: 100%;
}

.more-project {
    color: var(--black-color);
    font-size: 20px;
}

.more-link {
    background: var(--gradient-color);
    border: none;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    font-size: 13px;
    color: var(--black-color);
    padding: 7px;
    border-radius: 5px;
    cursor: pointer;
}

.more-link:hover {
    text-decoration: underline;
}

.more-project-left:hover .more-hover {
    transform: translateY(0%);
}

.more-project-right:hover .more-hover {
    transform: translateY(0%);
}

.line {
    border: 2px solid var(--black-color);
    border-radius: 5px;
}

img{
    border-radius: 7px;
}

@media (min-width: 1450px) {
    .project-img {
        width: 1700px;
    }
}

@media (max-width: 1250px) {
 
}

@media (max-width: 1150px) {

    .container {
        padding-inline: 60px;
    }
}

@media (max-width: 1024px) {
    .projects-section-1 {
        margin-top: 80px;
        margin-bottom: 25px;
    }

    .projects-section-2 {
        margin-top: 25px;
        margin-bottom: 50px;
    }

    .projects-header {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }

    .about-project {
        display: flex;
        flex-direction: column;
    }

    .projects-topic {
        font-size: 22px;
    }

    .span-topic-2 {
        font-size: 18px;
    }

    .projects-topic-2 {
        font-size: 54px;
        margin-bottom: 25px;
    }

    .detail-data,
    .detail-data-2 {
        font-size: 21px;
    }

    .projects-right {
        margin-bottom: 30px;
    }

    .about-left {
        max-width: 100%;
        margin-bottom: 25px;
    }

    .about-right {
        max-width: 100%;
    }

    .more-topic {
        font-size: 45px;
    }

    .more-project-box {
        column-gap: 15px;
    }
}

@media (max-width: 900px) {
    .more-project-box {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
}

@media (max-width: 700px) {
    .projects-section-1 {
        margin-top: 60px;
    }

    .projects-topic-2 {
        font-size: 44px;
    }

    .about-para-1 {
        font-size: 24px;
    }

    .projects-right {
        margin-bottom: 20px;
    }

}



@media (max-width: 524px) {

    .container {
        padding-inline: 20px;
    }

    .projects-section-1 {
        margin-top: 50px;
    }
}

@media (max-width: 500px) {
    .projects-section-2 {
        margin-bottom: 40px;
    }

    .more-topic {
        font-size: 35px;
        margin-bottom: 30px;
    }

    .more-project-section {
        margin-bottom: 50px;
    }

    .projects-topic-2 {
        font-size: 27px;
    }

    .projects-topic {
        font-size: 20px;
    }
}

@media (max-width: 450px) {

    .projects-right {
        display: flex;
        flex-direction: column;
        margin-bottom: 0px;
    }

    .detail-topic {
        margin-bottom: 8px;
    }

    .projects-detail-box {
        margin-bottom: 20px;
    }
}

@media (max-width: 390px) {
    .more-topic {
        font-size: 28px;
    }

}

@media (max-width: 410px) {
    .more-hover {
        bottom: 15px;
        left: 15px;
        right: 15px;
        padding-block: 5px;
        padding-inline: 8px;
    }
    .more-project {
        font-size: 15px;
    }
    
    .more-link {
        font-size: 11px;
        padding: 5px;
    }
}
@media (max-width: 370px) {
    .about-topic {
        font-size: 20px;
    }

    .about-para-1 {
        font-size: 20px;
    }

    .about-para-2 {
        font-size: 15px;
    }

    .about-para-3 {
        font-size: 15px;
    }
}