<main>
    <div class="container">
        <!-- project-1 -->
        <section class="projects-section-1" id="project-1">
            <div class="projects-header">
                <div class="projects-left" data-aos="fade-right" data-aos-duration="1000" data-aos-offset="5"
                    data-aos-delay="200">
                    <h3 class="projects-topic"> <span class="span-topic">Web Development</span> <span
                            class="span-topic-2">(Project-1)</span></h3>
                    <h1 class="projects-topic-2">Electronic Bill App </h1>
                </div>
                <div class="projects-right" data-aos="fade-left" data-aos-duration="1000" data-aos-offset="5"
                    data-aos-delay="200">
                    <div class="projects-detail-box" data-aos="fade-left" data-aos-duration="1000" data-aos-offset="5"
                        data-aos-delay="400">
                        <h5 class="detail-topic">TECHNOLOGY</h5>
                        <p class="detail-data">HTML, CSS, <br> JavaScript, Angular</p>
                    </div>
                    <div class="projects-detail-box">
                        <h5 class="detail-topic">OWN PROJECT</h5>
                        <p class="detail-data">During <br> Intership </p>
                    </div>
                </div>
            </div>

            <img class="project-img" data-aos="zoom-in" data-aos-duration="1000" data-aos-offset="5"
                data-aos-delay="200" src="../../assets/images/projects/electronic shop pos.png" alt="">

            <div class="about-project">
                <div class="about-left" data-aos="fade-right" data-aos-duration="1000" data-aos-offset="5"
                    data-aos-delay="200">
                    <h3 class="about-topic">ABOUT THE PROJECT</h3>
                    <p class="about-para-1">POS-Screen App multiple-Page Complex Website </p>
                </div>
                <div class="about-right" data-aos="fade-left" data-aos-duration="1000" data-aos-offset="5"
                    data-aos-delay="200">
                    <p class="about-para-2">In this project we develop a web application Electronic Shop POS-Screen in
                        this Project From Backend List the product then Search and Fliter features are there in Product
                        List Page, then POS-Screen page also product will list we can add to cart the products then we
                        can hold the order and finally we can create invoice also,</p>
                    <p class="about-para-3">built using HTML,Tailwind CSS, CSS, JavaScript, Angular (Backend provide by
                        Internship Company)</p>
                    <p class="github-link">Github Link: <a class="project-link"
                            href="https://github.com/Wasim-Afreeth-Z/Electonic-shop-bill-app-using-Angular">https://Electonic-shop-bill-app/</a>
                    </p>
                    <p class="website-link">Website Link: <a class="project-link"
                            href="https://electronic-shop-bill-app-wasim-2.netlify.app">https//electronic-shop-bill-app</a>
                    </p>
                    <p> Website Link: Username- <span class="user">super&commat;gmail.com </span> , Password- <span
                            class="user">1234</span> </p>
                </div>
            </div>
        </section>
        <hr>
        <!-- project-2 -->
        <section class="projects-section-2" id="project-2">
            <div class="projects-header">
                <div class="projects-left" data-aos="fade-right" data-aos-duration="1000" data-aos-offset="5"
                    data-aos-delay="200">
                    <h3 class="projects-topic"> <span class="span-topic">Web Development</span> <span
                            class="span-topic-2">(Project-2)</span></h3>
                    <h1 class="projects-topic-2">Amazon Clone</h1>
                </div>
                <div class="projects-right" data-aos="fade-left" data-aos-duration="1000" data-aos-offset="5"
                    data-aos-delay="200">
                    <div class="projects-detail-box" data-aos="fade-left" data-aos-duration="1000" data-aos-offset="5"
                        data-aos-delay="200">
                        <h5 class="detail-topic">TECHNOLOGY</h5>
                        <p class="detail-data">HTML, CSS, <br> JavaScript</p>
                    </div>
                    <div class="projects-detail-box">
                        <h5 class="detail-topic">OWN PROJECT</h5>
                        <p class="detail-data">During <br> Intership </p>
                    </div>
                </div>
            </div>

            <img class="project-img" data-aos="zoom-in" data-aos-duration="1000" data-aos-offset="5"
                data-aos-delay="200" src="../../assets/images/projects/Amazon-Project.png" alt="">

            <div class="about-project">
                <div class="about-left" data-aos="fade-right" data-aos-duration="1000" data-aos-offset="5"
                    data-aos-delay="200">
                    <h3 class="about-topic">ABOUT THE PROJECT</h3>
                    <p class="about-para-1">ecommerce complex multi-page website</p>
                </div>
                <div class="about-right" data-aos="fade-left" data-aos-duration="1000" data-aos-offset="5"
                    data-aos-delay="200">
                    <p class="about-para-2">This is a complex multi-page website where the different pages interact with
                        each other. </p>
                    <p class="about-para-3">we can add the product in cart and it will also show the cost of our order
                        including shipping and taxes. than we can also track our order.
                    </p>
                    <p class="github-link">Github Link: <a class="project-link"
                            href="https://github.com/Wasim-Afreeth-Z/amazon-clone">https/github/Wasim/amazonclone</a>
                    </p>
                    <p class="website-link">Website Link: <a class="project-link"
                            href="https://amazon-clone-ecommerce-website.netlify.app/">https:/amazon-clone-ecommerce</a>
                    </p>
                </div>
            </div>
        </section>

        <!-- More Cool Projects -->
        <section class="more-project-section">
            <h1 class="more-topic" data-aos="zoom-in" data-aos-duration="1000" data-aos-offset="5" data-aos-delay="200">
                More cool <span class="more-topic-2">projects</span></h1>
            <div class="more-project-box">
                <div class="more-project-left" data-aos="fade-right" data-aos-duration="1000" data-aos-offset="5"
                    data-aos-delay="200">
                    <img class="more-img" src="../../assets/images/projects/dell project.png">
                    <div class="more-hover">
                        <h1 class="more-project">Dell Store</h1>
                        <h3 class="tech">Technology</h3>
                        <a href="https://github.com/Wasim-Afreeth-Z/dell-online-store-basic-website" class="tool"></a>
                    </div>
                </div>
                <div class="more-project-right" data-aos="fade-left" data-aos-duration="1000" data-aos-offset="5"
                    data-aos-delay="200">
                    <img class="more-img" src="../../assets/images/projects/job portal project.png">
                    <div class="more-hover">
                        <h1 class="more-project">Online Job Portal</h1>
                        <h3 class="tech">Technology</h3>
                        <a href="https://github.com/Wasim-Afreeth-Z/Online-Job-Portal-Using-Python-Django"
                            class="tool"></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>