<main>
    <div class="container">
        <!-- project-1 -->
        <section class="projects-section-1" id="project-1">
            <div class="projects-header">
                <div class="projects-left" data-aos="fade-right" data-aos-duration="1000" data-aos-offset="5"
                    data-aos-delay="200">
                    <h3 class="projects-topic"> <span class="span-topic">Web Development</span> <span
                            class="span-topic-2">(Project-1)</span></h3>
                    <h1 class="projects-topic-2">E-commerce Website </h1>
                </div>
                <div class="projects-right" data-aos="fade-left" data-aos-duration="1000" data-aos-offset="5"
                    data-aos-delay="200">
                    <div class="projects-detail-box" data-aos="fade-left" data-aos-duration="1000" data-aos-offset="5"
                        data-aos-delay="400">
                        <h5 class="detail-topic">TECHNOLOGY</h5>
                        <p class="detail-data">HTML, CSS, <br> JavaScript, Angular</p>
                        <p class="detail-data-2"> NodeJS, ExpreJS, MySQL</p>
                    </div>
                    <div class="projects-detail-box">
                        <h5 class="detail-topic">OWN PROJECT</h5>
                        <p class="detail-data">During <br> Intership </p>
                    </div>
                </div>
            </div>

            <img class="project-img" data-aos="zoom-in" data-aos-duration="1000" data-aos-offset="5"
                data-aos-delay="200" src="../../assets/images/projects/ECommerce-Website.png" alt="">

            <div class="about-project">
                <div class="about-left" data-aos="fade-right" data-aos-duration="1000" data-aos-offset="5"
                    data-aos-delay="200">
                    <h3 class="about-topic">ABOUT THE PROJECT</h3>
                    <p class="about-para-1">E-commerce Responsive Complex Website</p>
                </div>
                <div class="about-right" data-aos="fade-left" data-aos-duration="1000" data-aos-offset="5"
                    data-aos-delay="200">
                    <p class="about-para-2">Developed a full-stack E-commerce platform with user authentication, cart
                        management, search, and filtering features. Implemented an admin panel for product and order
                        management & main admin can manage users, admin and overall products. Tech Stack: HTML, CSS,
                        Tailwind CSS, Angular, Node.js, Express.js, MySQL..</p>
                    <!-- <p class="about-para-3"></p> -->
                    <p class="github-link">Frontend-Github-Link: <a class="project-link"
                            href="https://github.com/Wasim-Afreeth-Z/E-commerce-Website-Frontend">https://E-commerce-frontend</a>
                    </p>
                    <p class="website-link">Backend-Github-Link: <a class="project-link"
                            href="https://github.com/Wasim-Afreeth-Z/E-commerce-Website-Backend">https//E-commerce-backend</a>
                    </p>
                </div>
            </div>
        </section>
        <hr>
        <!-- project-2 -->
        <section class="projects-section-2" id="project-2">
            <div class="projects-header">
                <div class="projects-left" data-aos="fade-right" data-aos-duration="1000" data-aos-offset="5"
                    data-aos-delay="200">
                    <h3 class="projects-topic"> <span class="span-topic">Web Development</span> <span
                            class="span-topic-2">(Project-2)</span></h3>
                    <h1 class="projects-topic-2">Electronic Bill App</h1>
                </div>
                <div class="projects-right" data-aos="fade-left" data-aos-duration="1000" data-aos-offset="5"
                    data-aos-delay="200">
                    <div class="projects-detail-box" data-aos="fade-left" data-aos-duration="1000" data-aos-offset="5"
                        data-aos-delay="200">
                        <h5 class="detail-topic">TECHNOLOGY</h5>
                        <p class="detail-data">HTML, CSS, <br> JavaScript, Angular</p>
                    </div>
                    <div class="projects-detail-box">
                        <h5 class="detail-topic">OWN PROJECT</h5>
                        <p class="detail-data">During <br> Intership </p>
                    </div>
                </div>
            </div>

            <img class="project-img" data-aos="zoom-in" data-aos-duration="1000" data-aos-offset="5"
                data-aos-delay="200" src="../../assets/images/projects/electronic shop pos.png" alt="">

            <div class="about-project">
                <div class="about-left" data-aos="fade-right" data-aos-duration="1000" data-aos-offset="5"
                    data-aos-delay="200">
                    <h3 class="about-topic">ABOUT THE PROJECT</h3>
                    <p class="about-para-1">POS-Screen App multiple-Page Complex Website</p>
                </div>
                <div class="about-right" data-aos="fade-left" data-aos-duration="1000" data-aos-offset="5"
                    data-aos-delay="200">
                    <p class="about-para-2">Developed a web application for point-of-sale operations, featuring product
                        listing, search, and filtering. Enabled cart management, order holding, and invoice generation.
                        Utilized HTML, Tailwind CSS, JavaScript, and Angular,
                        with backend support provided by the internship company.
                    </p>
                    <!-- <p class="about-para-3">built using HTML,Tailwind CSS, CSS, JavaScript, Angular (Backend provide by
                        Internship Company)
                    </p> -->
                    <p class="github-link">Github Link: <a class="project-link"
                            href="https://github.com/Wasim-Afreeth-Z/Electonic-shop-bill-app-using-Angular">https://Electonic-shop-bill-app/</a>
                    </p>
                    <p class="website-link">Website Link: <a class="project-link"
                            href="https://electronic-shop-bill-app-wasim-2.netlify.app">https//electronic-shop-bill-app</a>
                    </p>
                    <p> Website Link: Username- <span class="user">super&commat;gmail.com </span> , Password- <span
                            class="user">1234</span> </p>
                </div>
            </div>
        </section>

        <!-- More Cool Projects -->
        <section class="more-project-section">
            <h1 class="more-topic" data-aos="zoom-in" data-aos-duration="1000" data-aos-offset="5" data-aos-delay="200">
                More cool <span class="more-topic-2">projects</span></h1>
            <div class="more-project-box">
                <div class="more-project-left" data-aos="fade-right" data-aos-duration="1000" data-aos-offset="5"
                    data-aos-delay="200">
                    <img class="more-img" src="../../assets/images/projects/Amazon-Project.png">
                    <div class="more-hover">
                        <h1 class="more-project black">Amazon Clone</h1>
                        <h3 class="tech black">Technology</h3>
                        <a href="https://github.com/Wasim-Afreeth-Z/amazon-clone" class="tool"></a>
                    </div>
                </div>
                <div class="more-project-right" data-aos="fade-left" data-aos-duration="1000" data-aos-offset="5"
                    data-aos-delay="200">
                    <img class="more-img" src="../../assets/images/projects/dell project.png">
                    <div class="more-hover">
                        <h1 class="more-project">Dell Store</h1>
                        <h3 class="tech">Technology</h3>
                        <a href="https://github.com/Wasim-Afreeth-Z/dell-online-store-basic-website" class="tool"></a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>