/* You can add global styles to this file, and also import other style files */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Bai Jamjuree", sans-serif;
    background-color: var(--main-color);
    margin-top: 78px;
}

/* Theme */
:root {
    --main-color: #F0F2F5;
    --gradient-color: linear-gradient(90deg, #B16CEA 14.06%, #FF5E69 44.79%, #FF8A56 71.87%, #FFA84B 100%);
    --black-color: black;
    --white-color: white;
    --skill-contact-box: white;
}

.light-theme {
    --main-color: #F0F2F5;
    --gradient-color: linear-gradient(90deg, #B16CEA 14.06%, #FF5E69 44.79%, #FF8A56 71.87%, #FFA84B 100%);
    --black-color: black;
    --white-color: white;
    --skill-contact-box: white;
}

.dark-theme {
    --main-color: #101C2E;
    --gradient-color: linear-gradient(90deg, #B16CEA 14.06%, #FF5E69 44.79%, #FF8A56 71.87%, #FFA84B 100%);
    --black-color: white;
    --white-color: #101C2E;
    --skill-contact-box: #041c44;
}

.routerActive {
    background: var(--gradient-color);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}


/* Custom scrollbar */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background: var(--gradient-color);
    border-radius: 10px;
}

@media (min-width: 1450px) {
    body {
        width: 1700px;
        margin-inline: auto;
    }
}

@media (max-width: 1024px) {
    body {
        margin-top: 78px;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
