<main>
    <!-- profile -->
    <section data-aos="fade-down" data-aos-duration="1000" data-aos-easing="ease-in-out" data-aos-delay="400" data-aos-offset="5"
        class="profile-section">
        <div class="profile">
            <h1 class="detail"><span class="name">Hello, I'm Wasim,</span> creative developer based in India.</h1>
            <p class="detail-para">A Fullstack Developer in India. I specialize in Web Development, Responsive Web
                Design, and Interactive Website</p>
            <a routerLink="/contact"><button class="profile-button">GET IN TOUCH</button></a>
            <a routerLink="/project"><button class="profile-button-2">VIEW ALL WORKS</button></a>
        </div>
        <img class="profile-picture" src="../../assets/images/profile.jpg" alt="">
    </section>

    <!-- marquee -->
    <div class="marquee-bg">
        <marquee>
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png"> Discover
            <img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png"> Discover
            <img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png"> Discover
            <img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png"> Discover
            <img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
            Design <img src="../../assets/images/Star.png"> Develop <img src="../../assets/images/Star.png">
            Discover<img src="../../assets/images/Star.png">
        </marquee>
    </div>

    <!-- project -->
    <section class="project-section">
        <div class="project-intro" data-aos="fade-down" data-aos-duration="1000" data-aos-offset="5"
        data-aos-delay="50">
            <h1 class="topic">My Projects</h1>
            <p class="project-para">I do deep market research before starting any project the gives an unfair
                advantage to bring the best result.</p>
        </div>
        <div class="all-project">
            <div class="project-1" data-aos="fade-right" data-aos-duration="1000" data-aos-offset="5"
            data-aos-delay="50">
                <img class="project-image-1" src="../../assets/images/projects/ECommerce-Website.png" alt="">
                <div class="project-1-hover">
                    <h1 class="project-name-1">E-commerce Website</h1>
                    <button class=" project-link-1" (click)="project1()" routerLink="/project">View Project</button>
                </div>
            </div>
            <div class="project-2" data-aos="fade-left" data-aos-duration="1000" data-aos-offset="5"
            data-aos-delay="200">
                <img class="project-image-2" src="../../assets/images/projects/electronic shop pos.png" alt="">
                <div class="project-2-hover">
                    <h1 class="project-name-2">Electronic Bill App</h1>
                    <button (click)="project2()" routerLink="/project" class=" project-link-2">View Project</button>
                </div>
            </div>
        </div>
    </section>

    <!-- about -->
    <section class="about-section">
        <div class="about-left" data-aos="fade-right"  data-aos-duration="1000" data-aos-offset="10"
        data-aos-delay="200">
            <h3 class="about-name">Wasim Afreeth Z</h3>
            <p class="about-detail">Creative Web Developer</p>
        </div>
        <div class="about-right" data-aos="fade-left"  data-aos-duration="1000" data-aos-offset="10"
        data-aos-delay="200">
            <div class="about-discription">
                <p class="about-para-1">Web developer with a strong focus on innovation and user-centric design.
                    Brings aextensive experience in crafting responsive, mobile-friendly websites
                </p>
                <p class="about-para-2">Responsive Web Design always plays important role whenever going to promote your
                    website.</p>
            </div>
            <div class="count">
                <div>
                    <h4 class="about-topic">PROJECTS DONE</h4>
                    <p class="about-count" data-aos="zoom-in"  data-aos-duration="1000" data-aos-offset="10" data-aos-delay="300">4+</p>
                </div>
                <div>
                    <h4 class="about-topic">UG DEGREE</h4>
                    <p class="about-count" data-aos="zoom-in"  data-aos-duration="1000" data-aos-offset="10" data-aos-delay="300">80%</p>
                </div>
                <div>
                    <h4 class="about-topic">PG DEGREE</h4>
                    <p class="about-count" data-aos="zoom-in"  data-aos-duration="1000" data-aos-offset="10" data-aos-delay="300">76%</p>
                </div>
            </div>
        </div>
    </section>

    <!-- skill -->
    <section class="skill-section">
        <h1 class="skill-topic"  data-aos="fade-right" data-aos-duration="1000" data-aos-offset="10" data-aos-delay="300">What I do.</h1>
        <div class="skill-all-box" data-aos="flip-right" data-aos-duration="1000" data-aos-offset="10" data-aos-delay="300">
            <div class="skill-box">
                <img class="skill-img" src="../../assets/images/skills/html.png" alt="">
                <p class="skill-name">HTML</p>
            </div>
            <div class="skill-box">
                <img class="skill-img" src="../../assets/images/skills/css.png" alt="">
                <p class="skill-name">CSS</p>
            </div>
            <div class="skill-box">
                <img class="skill-img " src="../../assets/images/skills/tailwind.png" alt="">
                <p class="skill-name tailwind-name">Tailwind</p>
            </div>
            <div class="skill-box">
                <img class="skill-img" src="../../assets/images/skills/javascript.png" alt="">
                <p class="skill-name">JS</p>
            </div>
            <div class="skill-box">
                <img class="skill-img" src="../../assets/images/skills/angular.png" alt="">
                <p class="skill-name">Angular</p>
            </div>
            <div class="skill-box">
                <img class="skill-img" src="../../assets/images/skills/node-js.png" alt="">
                <p class="skill-name">NodeJS</p>
            </div>
            <div class="skill-box">
                <img class="express-img" src="../../assets/images/skills/expressJS.png" alt="">
                <p class="skill-name">ExpressJS</p>
            </div>
            <div class="skill-box">
                <img class="skill-img" src="../../assets/images/skills/my-sql.png" alt="">
                <p class="skill-name">My-SQL</p>
            </div>
            <div class="skill-box">
                <img class="skill-img" src="../../assets/images/skills/mongodb.png" alt="">
                <p class="skill-name">MongoDB</p>
            </div>
        </div>
    </section>

    <!-- last-section -->
    <section class="last-section" data-aos="zoom-in" data-aos-duration="1000" data-aos-offset="10" data-aos-delay="300">
        <div class="last-para-box">
            <p class="last-para">See the impact of good,<br>conversion-oriented <br>design on your business.
                <a routerLink="/contact" class="last-para two"> Let’s Work Together <img class="vector"
                        src="../../assets/images/Vector.png"></a>
            </p>
        </div>
    </section>
</main>